.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

.ejercicio{
    display: inline-block;
    margin: 20px 20px;
    padding: 10px 20px;
    width: 80%;
    text-align: center;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

p{
    margin: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
    font-style: italic;
}

.parrafo{
    display: block;
    border: 2px solid #28A0DB;
    background-color: #ACE1FC;
    margin: 30px auto;
    padding: 10px;
    text-align: justify;
}

#ayuda{
    display: none;
    position: absolute;
    border: 2px solid #FAF603;
    background-color: #F9F662;
    height: 30px;
    width: 70px;
}
