
.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

.ejercicio{
    margin-top: 20px;
    padding: 10px 20px;
    width: 80%;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2,
h3{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

pre{
    margin: 40px;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

p{
    margin: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
    font-style: italic;
}
.recuadroExterior2{
    border: 2px solid #F5CBA7 ;
    background-color: #F0F941;
    margin: 40px 20px;
    padding: 20px 30px;
}

.recuadroExterior{
    border: 2px solid #0A7CC8;
    background-color: #BBDFF7;
    margin: 40px 20px;
    padding: 20px 30px;
}

.recuadroInterior{
    border: 2px solid #7D3C98;
    background-color: #E5E7E9;

}

button{
    display: block;
    margin: 10px 30px;
}

ul{
    list-style-type: disclosure-closed;
    list-style-position: inside;
}

li{
    text-align: left;
}

.table{
    margin: 30px 20px;
}